.DepartmentList {
  padding: 10px;
}

#LearnMore h5 {
  color: #109648;
  margin: 2px;
}

.ListCTA {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.ListCTA .HeadingFive {
  width: 100%;
  text-align: end;
}

.ListCTA .ImageOne {
  width: 100%;
  text-align: start;
  padding-left: 20px;
  padding-top: 5px;
}
