.ResourceList {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
  padding: 15% 0%;
}

.ResourceList .HeadingFour h4 {
  color: #880d1e;
  text-align: center;
}

@media (min-width: 400px) {
  .ResourceList {
    padding: 10% 0%;
  }
}

@media (min-width: 560px) {
  .ResourceList {
    padding: 8% 0%;
  }
}

@media (min-width: 768px) {
  .ResourceList {
    padding: 10% 0%;
  }
}

@media (min-width: 1024px) {
  .ResourceList {
    padding: 11% 0%;
  }
}

@media (min-width: 1440px) {
  .ResourceList {
    padding: 13% 0%;
  }
}
