#HomePageCarouselThree {
  padding-bottom: 30px;
}

.CarouselThreeTop {
  padding-top: 20px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0px;
  overflow: none;
  grid-template-columns: 80% 20%;
  grid-template-areas: "one two ";
  text-align: center;
}

#CarouselThreeNews {
  padding: 0px;
  margin: 0px;
  grid-area: one;
  padding-left: 30px;
  place-self: start;
}
.CarouselThreeArrows {
  display: flex;
  justify-content: flex-end;
  margin-right: 13px;
}
.CarouselThreeArrowRight {
  margin-left: 13px;
}

#CarouselThreePreviousArrow {
  grid-area: two;
  place-self: center;
}

#CarouselThreeNextArrow {
  grid-area: three;
  place-self: center;
}

.CarouselThreeSlider {
  background: #fafafa;
  margin: 10px 15px;
  padding: 10px;
  /* display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  overflow: auto; */
  display: flex;
  justify-content: space-around;
  -webkit-overflow-scrolling: touch;

  scroll-snap-type: x mandatory;
}

.CarouselThreeSlide {
  scroll-snap-align: center;
  width: 320px;
  padding: 0px 0px;
  color: #fff;
  font-size: 20px;
}

.CarouselThreeSlide h5:nth-of-type(1) {
  text-transform: uppercase;
  color: #8a8a8a;
}
.CarouselThree {
  position: relative;
}
#Read h5 {
  text-transform: capitalize;
  color: #109648;
}
.CarouselThreePagination {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

@media (min-width: 400px) {
  .CarouselThreeSlide {
    width: 400px;
  }
}
@media (min-width: 1440px) {
  .CarouselThreeContentWrapper {
    width: 1007px;
    margin: auto;
  }
  .CarouselThreeSlide {
    width: 252px;
  }
}
