#AboutBannerSectionSubTitle {
  padding: 0% 2%;
}

#AboutBannerSectionSubTitle h4 {
  text-align: center;
}

#AboutBannerSectionBodyPara1 {
  padding: 4% 2%;
}

#AboutBannerSectionBodyPara2 {
  padding: 4% 2%;
}

#AboutBannerImage img {
  padding: 0px;
  margin: 0px;
}

@media (min-width: 560px) {
  #AboutBannerSectionBodyPara2 {
    padding-top: 0%;
  }
}

@media (min-width: 768px) {
  .AboutBannerSection {
    padding-top: 2%;
  }

  #AboutBannerImage {
    padding: 0% 10%;
  }

  #AboutBannerSectionTitle h1 {
    text-align: left;
    padding-left: 10%;
    margin-bottom: 0%;
  }

  #AboutBannerSectionSubTitle h4 {
    text-align: left;
    padding-left: 8%;
    margin-top: 0%;
  }

  #AboutBannerSectionBodyPara1 {
    padding: 2% 10%;
    padding-bottom: 1%;
  }

  #AboutBannerSectionBodyPara1 p {
    text-align: justify;
  }

  #AboutBannerSectionBodyPara2 {
    padding: 4% 10%;
    padding-top: 0%;
  }

  #AboutBannerSectionBodyPara2 p {
    text-align: justify;
  }
}

@media (min-width: 1024px) {
  .AboutBannerSection {
    padding-top: 4%;
  }
}

@media (min-width: 1440px) {
  .AboutBannerSection {
    padding-top: 6%;
  }

  #AboutBannerSectionTitle h1 {
    padding-left: 18%;
    padding-right: 18%;
  }

  #AboutBannerSectionSubTitle {
    padding-left: 18%;
    padding-right: 18%;
  }

  #AboutBannerSectionBodyPara1 {
    padding-left: 18%;
    padding-right: 18%;
  }

  #AboutBannerSectionBodyPara2 {
    padding-left: 18%;
    padding-right: 18%;
  }

  #AboutBannerSectionSubTitle h4 {
    padding-left: 0%;
  }
}
